<html>
    <head>
        <title>Home</title>
        <%- include('../partials/head') %>
    </head>
    <body>
        <header>
            <%- include('../partials/header') %>
        </header>
        <div id="main">
            <h3>Hello web server</h3>
        </div>
        <footer>
            <%- include('../partials/footer') %>
        </footer>
    </body>
</html>