<html>
    <head>
        <%- include('../partials/head') %>
        <TItle>Time</TItle>
    </head>
    <body>
        <header>
            <%- include('../partials/header') %>
        </header>
            <h3 id="hvn"></h3>
            <script>
                var today = new Date();
                var date = today.getFullYear() + '/' + (today.getMonth() + 1) + '/' + today.getDate();
                var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
                var dateTime = 'Today is: ' + date + ' ' + time;
             
                document.getElementById("hvn").innerHTML = dateTime;
            </script>
        <footer>
            <%- include('../partials/footer') %>
        </footer>
    </body>
</html>